{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "artifacts": true,
    "contract": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/forbid-prop-types": false
  }
}
